@import './common/common'

.app
  height 100%
.wrapper
  margin 0 auto
  width $contentWidth
.header
  background-color $headerBgColor
  padding 10px 0px 0px 15px
.content
  margin-top 20px
  background-color $contentBgColor
  padding 4px 4px 4px 11px
