.search-form .col
  width 33%
  float left
.search-form .form-control
  margin-bottom 10px
.search-form .form-control label
  font-weight bold
  text-align left
  white-space nowrap
  display block
  margin-bottom 6px
  font-size 1.2em
.search-form .form-control label span
  color #ff7b00
.search-form .form-control select
  height 19px
.search-form button
  background-color #f60
  color #fff
  border-color #f60
  padding 5px 8px 4px 6px
  border-style solid
  text-transform uppercase
  font-size 1.2em
