h1.flight-title
  color #838383
h1.flight-title span
  font-size 0.8em
.block.flight-details
  font-size 1.4em
  background #fff3e7
.flight-details > div
  line-height 1.5em
.flight-details-date
  color #333
  font-weight bold
.flight-details-airport
  font-weight bold
.flight-details-seats
  width 33%
.flight-details-seats span
  display block
  float right
  font-weight bold
.final-price
  font-size 2.5em
  line-height 1.5em
.select-payment label
  font-size 1.4em
  display block
  line-height 1.5em
