@import url(http://fonts.googleapis.com/css?family=Roboto)

$contentWidth = 645px
$headerBgColor = #f60
$contentBgColor = #f2efeb

body
  height 100%
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
  font 62.5% 'Roboto', sans-serif
  color #666
h1
  color #ff7b00
  font-size 2.5em
  font-weight normal
  margin 0 0 12px 0
  padding 0
  line-height 1.2em
  outline 0
h2
  font-size 2em
  color #333
  font-weight bold
  margin 0 4px 6px 0
  padding 0
  line-height 1.2em
h2 span
  font-weight normal
  color #ff7b00
h3
  font-size 1.5em
  font-weight bold
  color #ff7b00
  margin 20px 0 10px 0px
  display block
h3 span
  font-weight normal
  color #666
.block
  background-color #fff
  padding 12px 10px
  margin-bottom 20px
.clearfix
  clear both
.error
  color #ff7b00
  font-size 1.2em
