.flight-item
  background #fff
  border 1px solid #ccc
  padding 25px 0 5px
  min-height 62px
  width 96px
  float left
  margin 0px 3px 3px 0px
  text-align center
  cursor pointer
  color #888
.flight-item:hover
  color #000
  background #f2efeb
.flight-item span
  display block
  font-weight bold
.flight-item .flight-item-price
  font-size 2em
  line-height 1.4em
